<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/headTag :: headTag">
</head>

<script src="../../../resources/js/users/users.js"
	th:src="@{/resources/js/users/users.js}"></script>
<script src="../../../resources/js/paginationcontrol.js"
	th:src="@{/resources/js/paginationcontrol.js}"></script>
<body class="fixed-nav sticky-footer" id="page-top">
	<nav th:replace="fragments/header :: header"></nav>
	<!-- Navigation-Header -->
	<div class="content-wrapper">
		<!-- Contenido -->
		<div class="container-fluid">
			<!-- Breadcrumbs-->
			<br />
			<ol class="breadcrumb">
				<h5>USUARIOS</h5>
			</ol>
		</div>
		<br />
		<div class="row no-gutters">
			<!-- <div class="col-1 col-sm-1 col-md-1"></div> -->
			<div class="col-12 col-sm-12 col-md-12 button-add">
				<a sec:authorize="hasRole('addUser')" class="btn btn-success"
					th:href="@{/usuario/agregar}">Agregar Usuario</a>
			</div>
		</div>
		<br />

		<!-- Notificaciones de usuario -->
		<div class="alert alert-danger div-content-form" role="alert"
			id="error-client" style="display: none;"></div>

		<div class="alert alert-success div-content-form" id="success-server"
			role="alert" th:if="${ESTATUS} != null">
			<p th:text="${ESTATUS}"></p>
		</div>

		<table id="table-users" width="100%" class="table table-striped">
			<thead>
				<tr>
					<th>No.</th>
					<th>Identificador</th>
					<th>Nombre</th>
					<th>Perfil</th>
					<th>Fecha de modificaci&oacute;n</th>
					<th>Acciones</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="userDetail : ${page.content}">

					<td th:text="${userDetail.user.id}">Test</td>
					<td th:text="${userDetail.user.userName}">Test</td>
					<td th:text="${userDetail.name}">Test</td>
					<td th:text="${userDetail.user.profile.name}">Test</td>
					<td
						th:text=" ${#calendars.format(userDetail.user.lastModified,'dd/MM/yyyy')}">Test</td>
					<td><input type="button" id="edit"
						sec:authorize="hasRole('editUser')"
						title="Modificar datos del Usuario"
						th:onclick="'editUser(\'' + ${userDetail.id} + '\')'"
						class="btn btn-info" value="Editar" /> <input type="button"
						id="delete" sec:authorize="hasRole('deleteUser')"
						title="Eliminar el Usuario" class="btn btn-danger"
						th:onclick="'showModalDelete(\''+${userDetail.user.userName}+'\')'"
						value="Eliminar" />


						<div class="modal fade" id="" tabindex="-1" role="dialog"
							aria-labelledby="myModalLabel" aria-hidden="true"
							th:attrappend="id='modal-delete-' + ${userDetail.user.userName}">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Eliminar Usuario</h5>
										<button class="close" type="button" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">×</span>
										</button>
									</div>
									<div class="modal-body">
										<p
											th:text="'¿Estás seguro de que deseas eliminar el usuario ' + ${userDetail.user.userName} + '?'">sample</p>
									</div>
									<div class="modal-footer">

										<form th:action="@{/usuario/eliminar}" method="post">

											<input name="idUserDetails" type="hidden"
												th:value="${userDetail.id}" />
											<button type="button" class="btn btn-danger"
												data-dismiss="modal">Cancelar</button>
											<button onclick="$(this).closest('form').submit();"
												type="button" class="btn btn-primary">Aceptar</button>
										</form>
									</div>
								</div>
							</div>
						</div></td>

					<form th:id="'edit-user-' + ${userDetail.id} + '-form'" action=""
						method="post"
						th:action="@{'/usuario/' + ${userDetail.id} + '/actualizar'}" />


				</tr>
			</tbody>
		</table>
		<footer th:replace="fragments/footer :: footer"></footer>
	</div>
	<!-- Wrapper-Container -->

	<script type="text/javascript">
		$(document).ready(function() {
			$('#table-users').DataTable({
				"sPaginationType" : "full_numbers",
				"scrollX" : true,
				"spageLength" : 10,
				"sbPaginate" : true
			});
		});
	</script>

</body>

</html>