<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">



<head th:replace="fragments/headTag :: headTag">



</head>

<script src="../../../resources/js/profiles/listProfiles.js"
	th:src="@{/resources/js/profiles/listProfiles.js}"></script>
<script src="../../../resources/js/profiles/profiles.js"
	th:src="@{/resources/js/profiles/profiles.js}"></script>

<body class="fixed-nav sticky-footer" id="page-top">
	<nav th:replace="fragments/header :: header"></nav>
	<!-- Navigation-Header -->
	<div class="content-wrapper">
		<!-- Contenido -->
		<div class="container-fluid">
			<!-- Breadcrumbs-->
			<br />
			<ol class="breadcrumb">
				<h5>PERFILES</h5>
			</ol>
		</div>
		<br />
		<div class="row no-gutters">
			<!-- <div class="col-1 col-sm-1 col-md-1"></div> -->
			<div class="col-12 col-sm-12 col-md-12 button-add">
				<a sec:authorize="hasRole('addResource')" class="btn btn-success"
					th:href="@{/perfil/agregar}">Agregar Perfil</a>
			</div>
		</div>
		<br />

		<!-- Notificaciones de usuario -->
		<div class="alert alert-danger div-content-form" role="alert"
			id="error-client" style="display: none;"></div>

		<div class="alert alert-success div-content-form" id="success-server"
			role="alert" th:if="${ESTATUS} != null">
			<p th:text="${ESTATUS}"></p>
		</div>

		<table id="table-profile" width="100%" class="table table-striped">
			<thead>
				<tr>
					<th>No.</th>
					<th>Nombre</th>
					<th>Creación</th>
					<th>Última Modificacion</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="profile : ${profiles}">
					<td th:text="${profile.id}"></td>
					<td th:text="${profile.name}"></td>
					<td th:text="${#calendars.format(profile.created,'dd/MM/yyyy')}"></td>
					<td
						th:text="${#calendars.format(profile.lastModified,'dd/MM/yyyy')}"></td>
					<td><input type="button" id="delete"
						sec:authorize="hasRole('editProfile')"
						title="Modificar datos del Perfil"
						th:onclick="'editProfile(\'' + ${profile.id} + '\')'"
						class="btn btn-info" value="Editar" /> <input type="button"
						id="delete" sec:authorize="hasRole('deleteProfile')"
						title="Eliminar el Perfil" class="btn btn-danger"
						th:onclick="'showModalDelete(\''+${profile.name}+'\')'"
						value="Eliminar" />
						<div class="modal fade" id="" tabindex="-1" role="dialog"
							aria-labelledby="myModalLabel" aria-hidden="true"
							th:attrappend="id='modal-delete-' + ${profile.name}">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Eliminar Perfil</h5>
										<button class="close" type="button" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">×</span>
										</button>
									</div>
									<div class="modal-body">
										<p
											th:text="'¿Estás seguro de que deseas eliminar el perfil de ' + ${profile.name} + '?'"></p>
									</div>
									<div class="modal-footer">

										<form th:action="@{/perfil/eliminar}" method="post">

											<input name="idProfile" type="hidden"
												th:value="${profile.id}" />
											<button type="button" class="btn btn-danger"
												data-dismiss="modal">Cancelar</button>
											<button onclick="$(this).closest('form').submit();"
												type="button" class="btn btn-primary">Aceptar</button>
										</form>
									</div>
								</div>
							</div>
						</div></td>
					<form th:id="'edit-profile-' + ${profile.id} + '-form'" action=""
						method="post"
						th:action="@{'/perfil/' + ${profile.id} + '/editar'}" />


				</tr>
			</tbody>

		</table>
		<br />

		<footer th:replace="fragments/footer :: footer"></footer>

	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#table-profile').DataTable({
				"sPaginationType" : "full_numbers",
				"scrollX" : true,
				"spageLength" : 10,
				"sbPaginate" : true

			});
		});
	</script>

</body>

</html>
