<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/headTag :: headTag">
</head>
<body class="fixed-nav sticky-footer" id="page-top">
	<!-- Wrapper-Container -->

	<!-- Navigation-Header -->
	<nav th:replace="fragments/header :: header"></nav>
	<!-- Navigation-Header -->
	<div class="content-wrapper">
		<div class="container-fluid"></div>
		<footer th:replace="fragments/footer :: footer"></footer>
	</div>



</body>

</html>