<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:fragment="headTag">

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="Administración de la iglesia de Xaltipac" />
  <meta name="author" content="Juan Mateo Suace" />
    <title>LLDM Xaltipac</title>
    
    <!-- CSS -->
    <link href="../../../resources/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/resources/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="../../../resources/vendor/font-awesome/css/font-awesome.min.css" th:href="@{/resources/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" />
    <link href="../../../resources/vendor/datatables/dataTables.bootstrap4.css" th:href="@{/resources/vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet" />
    <link href="../../../resources/css/sb-admin.css" th:href="@{/resources/css/sb-admin.css}" rel="stylesheet" />
    <link href="../../../resources/css/xaltipac.css" th:href="@{/resources/css/xaltipac.css}" rel="stylesheet" />
     
    <!-- JS -->
    <script src="../../../resources/vendor/jquery/jquery.min.js" th:src="@{/resources/vendor/jquery/jquery.min.js}"></script>
    <script src="../../../resources/vendor/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/resources/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script src="../../../resources/vendor/jquery-easing/jquery.easing.min.js" th:src="@{/resources/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <script src="../../../resources/vendor/chart.js/Chart.min.js" th:src="@{/resources/vendor/chart.js/Chart.min.js}"></script>
    <script src="../../../resources/vendor/datatables/jquery.dataTables.js" th:src="@{/resources/vendor/datatables/jquery.dataTables.js}"></script>
    <script src="../../../resources/vendor/datatables/dataTables.bootstrap4.js" th:src="@{/resources/vendor/datatables/dataTables.bootstrap4.js}"></script>
    <script src="../../../resources/js/sb-admin.min.js" th:src="@{/resources/js/sb-admin.min.js}"></script>
    <script src="../../../resources/js/sb-admin-datatables.min.js" th:src="@{/resources/js/sb-admin-datatables.min.js}"></script>
    <script src="../../../resources/js/sb-admin-charts.min.js" th:src="@{/resources/js/sb-admin-charts.min.js}"></script>
    <script src="../../../resources/js/login.js" th:src="@{/resources/js/login.js}"></script>
    
    
</head>

<body>
</body>

</html>