<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">



<head th:replace="fragments/headTag :: headTag">
</head>


<script src="../../../resources/js/week/week.js"
	th:src="@{/resources/js/week/week.js}"></script>

<body class="fixed-nav sticky-footer" id="page-top">
	<nav th:replace="fragments/header :: header"></nav>
	<!-- Navigation-Header -->
	<div class="content-wrapper" id="canvas-content-data">
		<!-- Contenido -->
		<div class="container-fluid">
			<!-- Breadcrumbs-->
			<br />
			<ol class="breadcrumb">
				<h5>SEMANAS DE OFRENDAS</h5>
			</ol>
		</div>
		<br />
		<div class="row no-gutters">
			<!-- <div class="col-1 col-sm-1 col-md-1"></div> -->
			<div class="col-12 col-sm-12 col-md-12 button-add">
				<a sec:authorize="hasRole('addWeek')" class="btn btn-success"
					th:href="@{/week/add}">Agregar Semana</a>
			</div>
		</div>
		<br />

		<!-- Notificaciones de usuario -->
		<div class="alert alert-danger div-content-form" role="alert"
			id="error-client" style="display: none;"></div>

		<div class="alert alert-success div-content-form" id="success-server"
			role="alert" th:if="${ESTATUS} != null">
			<p th:text="${ESTATUS}"></p>
		</div>

		<table id="table-week" width="100%" class="table table-striped">
			<thead>
				<tr>
					<th>No.</th>
					<th>Día</th>
					<th>Notas</th>
					<th>Total</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="week : ${weeks}">
					<td th:text="${week.id}"></td>
					<td th:text="${week.day}"></td>
					<td th:text="${week.notes}"></td>

					<td th:text="${week.total}"></td>
					<td><button type="button" th:if="${week.enabled == 1}"
							sec:authorize="hasRole('editWeek')" data-toggle="tooltip"
							data-placement="right" title="Editar fecha"
							th:onclick="'editWeek(\'' + ${week.id} + '\',\'' + ${week.day} + '\')'"
							class="btn btn-info">
							<i class="fa fa-pencil"></i>
						</button>
						<button type="button" th:if="${week.enabled == 1}"
							sec:authorize="hasRole('deleteWeek')" title="Eliminar semana"
							class="btn btn-danger" data-toggle="tooltip"
							data-placement="right"
							th:onclick="'showModalDelete(\''+${week.day}+'\')'">
							<i class="fa fa-trash"></i>
						</button>
						<button type="button" th:if="${week.enabled == 1}"
							sec:authorize="hasRole('editWeek')" title="Registrar ofrendas"
							class="btn btn-warning" data-toggle="tooltip"
							data-placement="right"
							th:onclick="'registerOfferings(\''+${week.day}+'\')'">
							<i class="fa fa-pencil-square-o"></i>
						</button>
						<button type="button" th:if="${week.enabled == 1}"
							sec:authorize="hasRole('editWeek')" title="Cerrar Semana"
							class="btn btn-success" data-toggle="tooltip"
							data-placement="right"
							th:onclick="'showModalCloseWeek(\''+${week.id}+'\')'">
							<i class="fa fa-window-close"></i>
						</button>
						<button type="button" th:if="${week.enabled == 0}"
							sec:authorize="hasRole('generedReport')"
							title="Generar reporte semanal" class="btn btn-dark"
							data-toggle="tooltip" data-placement="right"
							th:onclick="'generetedPDF(\''+${week.id}+'\')'">
							<i class="fa fa-file-pdf-o"></i>
						</button>
						<div class="modal fade" id="" tabindex="-1" role="dialog"
							aria-labelledby="myModalLabel" aria-hidden="true"
							th:attrappend="id='modal-delete-' + ${week.day}">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Eliminar
											Semana</h5>
										<button class="close" type="button" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">×</span>
										</button>
									</div>
									<div class="modal-body">
										<p
											th:text="'¿Estás seguro de que deseas eliminar la semana de ofrenda del día ' + ${week.day} + '? Perderá toda infrmación de esta semana.'"></p>
									</div>
									<div class="modal-footer">

										<form th:action="@{/week/delete}" method="post">

											<input name="idWeek" type="hidden" th:value="${week.id}" />
											<button type="button" class="btn btn-danger"
												data-dismiss="modal">Cancelar</button>
											<button onclick="$(this).closest('form').submit();"
												type="button" class="btn btn-primary">Aceptar</button>
										</form>
									</div>
								</div>
							</div>
						</div></td>
					<form th:id="'register-offering-' + ${week.day} + '-form'"
						action="" method="post"
						th:action="@{'/week/offeringDetails/' + ${week.id} + '/'}" />


				</tr>
			</tbody>

		</table>
		<br />

		<div class="modal fade bd-example-modal-lg" id="modal-add-anonymous"
			tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Cierre de
							Semana</h5>
						<button class="close" type="button" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">

						<div class="alert alert-light" role="alert">Una vez que de
							clic en el botón Guardar no podrá editar esta semana. Solo podrá
							vez el reporte. Agregar anónimos si es necesario.</div>
						<div id="alert-anonymous" class="alert alert-danger" role="alert">Es
							necesario que llenes todos los datos</div>

						<div class="container-fluid">
							<div class="row">
								<div class="col-1 col-sm-3 col-md-8"></div>
								<div class="col-11 col-sm-9 col-md-4 modal-a">
									<a href="javascript:{}" onclick="javascript:addAnonymous();"
										id="a-add-anonymous" class="btn btn-success">Agregar
										anónimo</a>
								</div>
							</div>

						</div>
						<form id="close-week-form" action=""
							th:action="@{'/week/offeringDetails/weekClose'}" method="post">
							<input type="hidden" id="index-anonymous" name="index-anonymous" />
							<input type="hidden" id="anonymousWeek" name="anonymousWeek" />
							<div class="row" id="content-model-add-anonymous"></div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
						<a href="javascript:{}" onclick="javascript:saveOfferingWeek();"
							id="cat-save" class="btn btn-primary">Guardar</a>
					</div>
				</div>
			</div>
		</div>


		<div class="modal fade" id="modal-edit-week" tabindex="-1"
			role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel1">Editar Semana</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">

						<small>(*) Lo campos requeridos.</small> <br /> <br />
						<form id="edit-save-week-form" action="" method="post"
							th:action="@{/week/editView}">
							<input type="hidden" name="id-week" id="id-week" />
							<div class="form-group">
								<label for="name">(*) Fecha:</label> <input class="form-control"
									type="date" id="day-week" name="day-week" />
							</div>

						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
						<a href="javascript:{}" onclick="javascript:editWeekSave();"
							id="cat-save" class="btn btn-primary">Guardar</a>
						<!-- 					<button type="button" class="btn btn-primary">Guardar</button> -->
					</div>
				</div>
			</div>
		</div>


		<form id="serach-offering-week" action="" method="post"
			th:action="@{'/week/offeringDetails/searchOfferingByWeek'}">
			<input type="hidden" id="weekId" name="weekId" />
		</form>
		<form id="generate-pdf-week-form" action="" method="post"
			th:action="@{'/week/offeringDetails/generatePDF'}">
			<input type="hidden" id="weekPDFId" name="weekPDFId" />
		</form>


		<footer th:replace="fragments/footer :: footer"></footer>

	</div>

	<script type="text/javascript">
		$(document).ready(function() {
			$('[data-toggle="tooltip"]').tooltip();
			$('#table-week').DataTable({
				"sPaginationType" : "full_numbers",
				"scrollX" : true,
				"spageLength" : 10,
				"sbPaginate" : true

			});
		});
	</script>

</body>

</html>
