<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">



<head th:replace="fragments/headTag :: headTag">
</head>

<script src="../../../resources/js/week/week.js"
	th:src="@{/resources/js/offeringMonth/offeringMonth.js}"></script>

<body class="fixed-nav sticky-footer" id="page-top">
	<nav th:replace="fragments/header :: header"></nav>
	<!-- Navigation-Header -->
	<div class="content-wrapper">
		<div class="container" id="template_invoice">

			<div class="row">
				<!-- 				<div class="col-xs-4"> -->
				<!-- 					<div class="invoice-title"> -->
				<!-- 						<h2>Invoice</h2> -->
				<!-- 					</div> -->
				<!-- 				</div> -->
				<!-- 				<div class="col-xs-4"> -->
				<!-- 					<p class="lead">Order # 12345</p> -->
				<!-- 				</div> -->
				<div class="col-xs-4">
					<a href="javascript:{}" onclick="javascript:testPDF();"
						class="btn btn-primary">Guardar</a>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="col-md-2">
					<img class="ima-pdf-header"
						src="../../resources/images/pdfLLDM.jpg"
						th:src="@{/resources/images/pdfLLDM.jpg}" />
				</div>
				<div class="col-md-10">
					<p>Jurisdicción Centro de la Iglesia del Dios Vivo, Columna y
						Apoyo de la Verdad,</p>
					<br />
					<p>La Luz del Mindo, A.R.</p>
				</div>

			</div>


			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								<strong>Order summary</strong>
							</h3>
						</div>
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table table-condensed">
									<thead>
										<tr>
											<td><strong>Item</strong></td>
											<td class="text-center"><strong>Price</strong></td>
											<td class="text-center"><strong>Quantity</strong></td>
											<td class="text-right"><strong>Totals</strong></td>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>BS-200</td>
											<td class="text-center">$10.99</td>
											<td class="text-center">1</td>
											<td class="text-right">$10.99</td>
										</tr>
										<tr>
											<td>BS-400</td>
											<td class="text-center">$20.00</td>
											<td class="text-center">3</td>
											<td class="text-right">$60.00</td>
										</tr>
										<tr>
											<td>BS-1000</td>
											<td class="text-center">$600.00</td>
											<td class="text-center">1</td>
											<td class="text-right">$600.00</td>
										</tr>
										<tr>
											<td class="thick-line"></td>
											<td class="thick-line"></td>
											<td class="thick-line text-center"><strong>Subtotal</strong></td>
											<td class="thick-line text-right">$670.99</td>
										</tr>
										<tr>
											<td class="no-line"></td>
											<td class="no-line"></td>
											<td class="no-line text-center"><strong>Shipping</strong></td>
											<td class="no-line text-right">$15</td>
										</tr>
										<tr>
											<td class="no-line"></td>
											<td class="no-line"></td>
											<td class="no-line text-center"><strong>Total</strong></td>
											<td class="no-line text-right">$685.99</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>
